*{
  margin: 0;
  padding: 0;
}

.header{
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
}

.trybewarts-login{
  display: flex;
  
}

#trybewarts-header-title {
  display: flex;
  order: 2;
  align-self: center;
}

.trybewarts-header-logo {
  display: flex;
  order: 1;
  align-self: center;
}

.trybewarts-login {
  display: flex;
  order: 3;
  align-self: center;
}